/* THEMES VARIABLES */
@font-face {
  font-family: YuGo;
  src: url("../font/yugothib.ttf");
}

body {
  font-family: YuGo, YuGothic, Meiryo;
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

nav {
  width: 100%;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

section {
  background: #f1f3f6;
}

/* shopColor */
.shopColor {
  color: #111;
}

#ajino, .activeajino {
  color: #0072bc !important;
}

.svgajino {
  fill: #0072bc !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#okayama, .activeokayama {
  color: #0db14b !important;
}

.svgokayama {
  fill: #0db14b !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#aoyama, .activeaoyama {
  color: #58595b !important;
}

.svgaoyama {
  fill: #58595b !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#koenji, .activekoenji {
  color: #903f98 !important;
}

.svgkoenji {
  fill: #903f98 !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#osaka, .activeosaka {
  color: #f1ca3a !important;
}

.svgosaka {
  fill: #f1ca3a !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#kyoto, .activekyoto {
  color: #684927 !important;
}

.svgkyoto {
  fill: #684927 !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#web, .activeweb {
  color: #FA8E43 !important;
}

.svgweb {
  fill: #FA8E43 !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#popup, .activepopup {
  color: #D3C6A6 !important;
}

.svgpopup {
  fill: #D3C6A6 !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#blackBtn:active, #blackBtn.active {
  color: #000 !important;
}

.svgblack {
  fill: #000 !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#redBtn:active, #redBtn.active {
  color: #E60013 !important;
}

.svgred {
  fill: #E60013 !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#pinkBtn:active, #pinkBtn.active {
  color: #E23688 !important;
}

.svgpink {
  fill: #E23688 !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#pearlBtn:active, #pearlBtn.active {
  color: #F1AEC3 !important;
}

.svgpearl {
  fill: #F1AEC3 !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

#goldBtn:active, #goldBtn.active {
  color: #CFB53B !important;
}

.svggold {
  fill: #CFB53B !important;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

.svgundefined {
  fill: rgba(255, 255, 255, 0);
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

.svgwhite {
  fill: #fff;
  -webkit-transition: fill .25s ease-out, display .2s ease-out;
  transition: fill .25s ease-out, display .2s ease-out;
}

/* DROPDOWN */
.dropdown {
  position: fixed;
  top: .5rem;
  left: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  z-index: 2;
  color: #111;
  background: #f1f3f6;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white, inset 0px 0px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white, inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  border: solid #eee 1px;
  align-items: center;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

#dd1 {
  opacity: 0;
}

#dd2 {
  opacity: 0;
}

.dropdown-item {
  padding: .75rem .4rem;
  white-space: nowrap;
  opacity: 1;
}

.dropdown-item:hover {
  outline: 0;
  -webkit-box-shadow: inset 2px 2px 4px rgba(55, 84, 170, 0.15), inset -2px -2px 5px white, 0px 0px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 2px 2px 4px rgba(55, 84, 170, 0.15), inset -2px -2px 5px white, 0px 0px 1px rgba(255, 255, 255, 0.2);
}

.dropdown-item:first-child {
  padding: .75rem .4rem .75rem .8rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.dropdown-item:last-child {
  padding: .75rem .8rem .75rem .4rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* FLEX BOXES */
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f3f6;
  border-bottom: solid #e1e3e6 1px;
  -webkit-box-shadow: 2px 2px 4px rgba(55, 84, 170, 0.15);
          box-shadow: 2px 2px 4px rgba(55, 84, 170, 0.15);
  padding: .75rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-item {
  background: #f1f3f6;
  height: 100%;
  margin-right: 1rem;
  -webkit-box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white, inset 0px 0px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white, inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1px solid #eee;
  padding: .5rem .8rem;
  -webkit-transition: -webkit-box-shadow .15s ease-out;
  transition: -webkit-box-shadow .15s ease-out;
  transition: box-shadow .15s ease-out;
  transition: box-shadow .15s ease-out, -webkit-box-shadow .15s ease-out;
}

.nav-item:active {
  outline: 0;
  -webkit-box-shadow: inset 2px 2px 4px rgba(55, 84, 170, 0.15), inset -2px -2px 5px white, 0px 0px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 2px 2px 4px rgba(55, 84, 170, 0.15), inset -2px -2px 5px white, 0px 0px 1px rgba(255, 255, 255, 0.2);
}

#MTJ {
  margin-left: auto;
}

#pocketlayer, #svgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#svgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 60px;
}

#svgContainer svg {
  max-height: -webkit-fill-available;
}

#lP, #rP {
  max-width: 49.999999%;
  padding: 2em;
}

/* OPTIONS BUTTON */
#pocket, #layer, #pattern, #color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: .75rem;
  min-height: 2.6rem;
}

#pocket button, #layer button, #pattern button, #color button {
  margin-right: 1rem;
  color: #111;
  padding: .5rem .8rem;
  -webkit-box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white, inset 0px 0px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white, inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  background: #f1f3f6;
  border-radius: 5px;
  border: 1px solid #eee;
  -webkit-transition: color .15s ease-out, -webkit-box-shadow .15s ease-out;
  transition: color .15s ease-out, -webkit-box-shadow .15s ease-out;
  transition: box-shadow .15s ease-out, color .15s ease-out;
  transition: box-shadow .15s ease-out, color .15s ease-out, -webkit-box-shadow .15s ease-out;
}

#pocket button:last-child, #layer button:last-child, #pattern button:last-child, #color button:last-child {
  margin: 0;
}

#pocket button:hover, #layer button:hover, #pattern button:hover, #color button:hover {
  -webkit-box-shadow: inset 1px 1px 3rem rgba(55, 84, 170, 0.1), inset -1px -1px 3rem white, 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white;
          box-shadow: inset 1px 1px 3rem rgba(55, 84, 170, 0.1), inset -1px -1px 3rem white, 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white;
}

#pocket button:active, #pocket button.active, #layer button:active, #layer button.active, #pattern button:active, #pattern button.active, #color button:active, #color button.active {
  color: #111;
  -webkit-box-shadow: inset 2px 2px 4px rgba(55, 84, 170, 0.15), inset -2px -2px 5px white, 0px 0px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 2px 2px 4px rgba(55, 84, 170, 0.15), inset -2px -2px 5px white, 0px 0px 1px rgba(255, 255, 255, 0.2);
}

#pocket button:disabled, #layer button:disabled, #pattern button:disabled, #color button:disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #777;
  cursor: not-allowed;
}

/* ANIMATIONS CLASSES */
.textFadeout {
  opacity: 0;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.textFadein {
  opacity: 1;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.shadowFadeout {
  -webkit-box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0), -2px -2px 5px rgba(255, 255, 255, 0), inset 0px 0px 1px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0), -2px -2px 5px rgba(255, 255, 255, 0), inset 0px 0px 1px rgba(255, 255, 255, 0);
  -webkit-transition: -webkit-box-shadow 0.2s ease-out !important;
  transition: -webkit-box-shadow 0.2s ease-out !important;
  transition: box-shadow 0.2s ease-out !important;
  transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out !important;
  border-color: transparent;
  -webkit-transition: border-color .2s ease-out;
  transition: border-color .2s ease-out;
}

.shadowFadein {
  -webkit-box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white, inset 0px 0px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 4px rgba(55, 84, 170, 0), inset 0 0 5px rgba(255, 255, 255, 0), 2px 2px 4px rgba(55, 84, 170, 0.15), -2px -2px 5px white, inset 0px 0px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: -webkit-box-shadow 0.2s ease-out 0.3s !important;
  transition: -webkit-box-shadow 0.2s ease-out 0.3s !important;
  transition: box-shadow 0.2s ease-out 0.3s !important;
  transition: box-shadow 0.2s ease-out 0.3s, -webkit-box-shadow 0.2s ease-out 0.3s !important;
  border: solid #eee 1px;
  -webkit-transition: border-color .2s ease-out;
  transition: border-color .2s ease-out;
}

/* PRINT FORM */
#printForm {
  height: 209mm;
  width: 297mm;
  display: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  top: 44mm;
  left: -44mm;
}

.fill-height {
  min-height: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

#title, #head, #lPockets, #rPockets, .column {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#head, #lPockets, #rPockets {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#lPockets, #rPockets {
  max-height: 75mm;
}

#title {
  max-height: 15mm;
  background-color: #777777;
  color: #fff;
}

#head {
  max-height: 33mm;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.smallfont {
  font-size: 12px;
}

#title, .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

#title p, #title a {
  margin: auto;
  font-size: x-large;
}

#title a {
  text-decoration: none;
  color: #fff;
}

.line span {
  min-height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line div {
  padding-left: 1em;
  padding-right: 1em;
}

#head, .line div, #rPockets div, #lPockets div {
  border-style: solid;
  border-width: thin;
}

#rPockets div, #lPockets div {
  padding: 0 .5em;
}

#rPockets p, #lPockets p {
  margin: .3em;
}

#rPockets svg, #lPockets svg {
  max-height: 50mm;
  margin: 0 5%;
}

#table {
  width: 105mm;
  border-spacing: 0;
  border-style: solid;
  border-width: thin;
}

#table tr.tableText {
  height: 4mm;
  font-size: .8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#table tr.tableVoid {
  height: 8mm;
}

#table th {
  border-style: solid;
  border-width: thin;
}

.gg-check-r {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  border-radius: 4px;
  float: left;
  margin-right: 1em;
}

.gg-check-r::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pocketText {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center;
}

.gg-arrow-long-left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-box-shadow: inset 0 0 0 2px;
          box-shadow: inset 0 0 0 2px;
  width: 60mm;
  height: 6px;
}

.gg-arrow-long-left::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0;
  bottom: -2px;
}

.gg-arrow-long-left::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  left: 59mm;
  bottom: -2px;
}
/*# sourceMappingURL=index.css.map */